@media screen and (max-width: 1024px) {
	.container {
		width: 90%;
	}

	header {
		min-height: 85vh;

		.header {
			nav {
				.logo-container {
					margin-right: 3rem;
				}

				.dropdowns {
					.product,
					.company,
					.connect {
						margin-right: 1.6rem;
					}
				}
			}

			.main {
				min-height: 65vh;
				display: flex;
				justify-content: center;
				align-items: center;

				.main-content {
					color: $white;

					&-header {
						font-size: 3.2rem;
					}

					&-p {
						font-size: 1.15rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 776px) {
	body {
		background: $white;
		position: relative;
	}

	.mobile-nav {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: absolute;
		top: 5rem;
		width: 100%;
		background: $intro-gradient;
		border-radius: 7px;
		padding: 5rem 0 5rem 0;
		transform: translateX(150%);
		transition: all $transition-delay;
		box-shadow: 5px 10px 30px rgba($color: #000, $alpha: 0.2);
		z-index: 2;

		&.active {
			transform: translateX(0);
		}

		.dropdowns {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex: 0;
			width: 100%;

			.product,
			.company,
			.connect {
				margin-bottom: 3rem;
				text-align: center;

				&:hover .dropdown-menu {
					height: auto;
					opacity: 1;
					pointer-events: all;
				}

				&:hover a.dropdown-header span {
					transform: rotate(180deg);
				}

				a.dropdown-header {
					font-size: 1.7rem;
					color: $white;
					transition: all $transition-delay;
					display: flex;

					span {
						margin-left: 1rem;
						transform: rotate(0deg);
						transition: all $transition-delay;

						img {
							width: 150%;
						}
					}

					&:hover,
					&:focus {
						text-decoration: none;
						color: rgba($color: $white, $alpha: 0.8);
					}
				}

				.dropdown-menu {
					background: rgba($color: $white, $alpha: 0.8);
					width: 250%;
					transform: translateX(-33%);
					padding: 0.7rem 0;
					border-radius: 6px;
					position: relative;
					height: 0;
					opacity: 0;
					margin-top: 0;
					pointer-events: none;

					li {
						font-size: 1.2rem;
						color: rgba($color: #000000, $alpha: 0.5);
						margin-bottom: 1rem;
						transition: all $transition-delay;

						&:first-child {
							margin-top: 1.4rem;
						}

						&:hover,
						&:focus {
							color: #000;
						}
					}
				}
			}
		}

		.accounts-cta {
			display: flex;
			flex-direction: column;
			align-items: center;
			border-top: 2px solid rgba($color: $white, $alpha: 0.5);
			width: 100%;
			padding-top: 2rem;

			button {
				font-size: 1.3rem;
			}

			.login {
				color: $white;
				border: none;
				margin-bottom: 1.4rem;

				&:hover,
				&:focus {
					color: $cta-text-color;
				}
			}

			.sign-up {
				background: $white;
				color: $cta-text-color;
			}
		}
	}

	header {
		&::after {
			right: -130%;
			width: 250%;
		}

		.header {
			nav {
				position: relative;
				justify-content: space-between;
				align-items: center;
				padding-top: 1.8rem;

				.logo-container {
					margin-right: 3rem;
				}

				.hamburger {
					display: block;
					cursor: pointer;
					transition: all $transition-delay;

					&.active {
						transform: rotate(180deg);
					}
				}
			}

			.main {
				.main-content {
					&-header {
						font-size: 2.9rem;
						text-align: center;
					}

					&-p {
						font-size: 1.05rem;
						margin: 1.6rem 0 2.5rem 0;
					}

					&-cta {
						text-align: center;

						button {
							margin-right: 0.5rem;
						}
					}
				}
			}
		}
	}

	.first-section {
		margin-top: 7rem;

		h2 {
			font-size: 2.5rem;
		}

		.section-details-wrapper {
			display: grid;
			grid-template-columns: 1fr;

			.section-details {
				width: 100%;
				margin-top: 3rem;
				text-align: center;
				order: 2;

				.detail {
					margin-bottom: 5.5rem;

					h3 {
						font-size: 1.9rem;
						margin-bottom: 2.5625rem;
					}
				}
			}

			img {
				margin-top: 3rem;
				width: 100%;
				align-self: center;
			}
		}
	}

	.second-section {
		min-height: 50vh;
		margin-top: 6rem;

		.section-details-wrapper {
			.section-details {
				display: grid;
				grid-template-columns: 1fr;
				gap: 0 1rem;
				height: 100%;

				.phones {
					position: relative;
					width: 70%;
					top: -15%;
					left: 50%;
					transform: translate(-50%);
				}

				.detail {
					text-align: center;
					margin-bottom: 5rem;

					h2 {
						font-size: 2.1rem;
						font-weight: 600;
						color: $white;
						margin-bottom: 2.4375rem;
					}

					p {
						color: rgba($color: $white, $alpha: 0.7);
					}
				}
			}
		}
	}

	.third-section {
		margin-top: 5rem;

		.section-details-wrapper {
			display: grid;
			grid-template-columns: 1fr;

			img {
				margin-top: 3rem;
				width: 100%;
				align-self: center;
				transform: translateX(0);
			}

			.section-details {
				width: 100%;
				margin-top: 3rem;
				text-align: center;
				order: 2;

				.detail {
					margin-bottom: 5.5rem;

					h3 {
						font-size: 1.9rem;
						margin-bottom: 2.5625rem;
					}
				}
			}
		}
	}

	footer {
		.flex {
			justify-content: space-around;
			flex-direction: column;
			align-items: center;

			.logo-container {
				margin-bottom: 5rem;
			}

			.footer-links {
				align-items: center;
				margin-bottom: 2.3rem;

				h5 {
					font-size: 1.5rem;
					margin-bottom: 2rem;
					font-weight: 700;
				}

				a {
					color: rgba($color: $footer-text-color, $alpha: 0.7);
					font-size: 1.1rem;
					margin-bottom: 1.3125rem;

					&:hover,
					&:focus {
						color: $footer-text-color;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	header {
		&::after {
			right: -150%;
			width: 260%;
		}

		.header {
			nav {
				.mobile-nav {
					.dropdowns {
						.product,
						.company,
						.connect {
							a.dropdown-header {
								font-size: 1.3rem;

								span {
									img {
										width: 140%;
									}
								}
							}

							.dropdown-menu {
								transform: translateX(-28%);

								a {
									font-size: 1rem;
								}
							}
						}
					}

					.accounts-cta {
						button {
							font-size: 1.1rem;
						}
					}
				}
			}

			.main {
				.main-content {
					&-header {
						font-size: 2.1rem;
						text-align: center;
					}

					&-p {
						font-size: 1rem;
						margin: 1.1rem 0 2.1rem 0;
					}

					&-cta {
						text-align: center;

						button {
							margin-right: 0.3rem;
						}
					}
				}
			}
		}
	}

	.first-section,
	.third-section {
		margin-top: 7rem;

		h2 {
			font-size: 1.7rem;
		}

		.section-details-wrapper {
			.section-details {
				margin-top: 2.5rem;

				.detail {
					margin-bottom: 3.5rem;

					h3 {
						font-size: 1.5rem;
						margin-bottom: 1.8rem;
					}
				}
			}
		}
	}
}
